@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
  }


body{
    font-family: 'Roboto', sans-serif;
    background-color: #181818;
    color: white;
    overflow: hidden;

}

#Outer{
    display:flex;
    flex-direction: row;

}

#left{

    display: flex;
    flex-direction: column;
    flex: 4;
    align-items: center;
    justify-content: center;
    
    
}

#right{
    flex: 6;
    display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://image.ibb.co/cO9Lxq/login-bg.jpg') no-repeat center center / cover;
  height: 100vh;
  text-align: center;
}



#form2{
    display: flex;
    flex-direction: column;
    
    padding-top: 8vh;
    justify-content: center;
    
    width: 80%;
}

#form2 label{
    
    font-size: 15px;

}

#form2 input[type=text], input[type=password]{
    width: 90%;
    background: #181818;
    margin-bottom: 1.5rem;
    border: 1.5px solid #555;
    line-height: 2rem;
    border-radius: 2px; 
    box-shadow: 0px;
    text-decoration: none;
    
}

#form2 input[type=submit]{
    width: 90%;
    margin-top: 1rem;
    height: 3em;
    background: #f96816;
    border: 1.5px solid #555;
    border-radius:2px;
    color: white;
    transition: background 0.5s;


}

#form2 input[type=submit]:hover{
    background: #ff7b39;
    cursor: pointer;
}



#link a{
    color: white;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding-right: 45px;
    transition: color 0.5s;

}

#link a:hover{
    color: ;
}


#button2{
    border: 2px solid white;
    padding: 0.7rem 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 45px;
    margin-top: 10px;
    transition: all 0.5s;
}

#button2 {
    color: white;
    text-decoration: none;
    transition: all 0.5s;
}

#button2:hover{
    border-color: #ff7b39;
    color: #ff7b39;
    cursor: pointer;
}

#button2 a:hover{
    border-color: #ff7b39;
    color: #ff7b39;
    
}

footer{
    margin-top: 110px;
    padding-right: 45px;
    text-align: center;
    font-size: smaller;

}

footer a{
    color:#f96816 ;
    
}

#button-sec{
    border: 2px solid white;
    width: fit-content;
    padding: 0.7rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    text-align:center ;
    margin-left: 110px;
    transition: all 0.5s;
    color: white;
    text-decoration: none;
}

#button-sec:hover{

    color:#ff7b39 ;
    border-color:#ff7b39 ;
    
}



main{
    align-content: center;
}


